@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=DotGothic16&display=swap');

body {
    font-family: 'Azeret Mono', 'DotGothic16', monospace;
    background-color: black;
    color: white;
    text-align: center;
}

.container {
    width: 100%;
    padding-top: 16px;
    display: inline-block;
    max-width: 800px;
    text-align: left;
}

.heading {
    text-align: center;
}

.acct {
    width: 128px;
    height: auto;
    border: 2px solid white;
    border-radius: 50%;
}

.project-section {
    padding: 5px 5px;
    border: white 2px solid;
    margin: 20px 0;
}

.project-section .project-title {
    text-align: center;
    margin: 0;
    padding-bottom: 6px;
    border-bottom: white 1px solid;
}

.project-section .project-description {
    padding: 5px 0;
}

.project-section .project-description p {
    margin: 0 2px;
}

.project-section .project-links {
    border-top: white 1px solid;
    padding: 5px 0;
}

a {
    color: orange;
}
